* {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    max-height: auto;
}

header {
    background-color: rgb(0, 166, 255);
    display: flex;
    font-size: 1em;
    flex-direction: column;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*flex-direction: column;*/
    /*padding: 1%;*/
}

h2 {

}


